on mmi-priority
    # Only high priority MMI DLKMs loaded here
    # For instance, sensor_class referenced from several DLKMs
    # and needs to load first. Touchscreen might need extra time
    # to perform firmware update if necessary
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules wl2864c mmi_sys_temp

on fs
    # Majority of MMI DLKMs should be in this group
    insmod /vendor/lib/modules/sensors_class.ko

    exec_background u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules adapter_class mmi_relay touchscreen_mmi focaltech_v2_mmi regulator_vibrator_mmi leds-indicator-pwm audio_snd_soc_aw882xx aw9610x

on charger
    insmod /vendor/lib/modules/cw2217b_fg_mmi.ko
    insmod /vendor/lib/modules/sm5602_fg_mmi.ko
    insmod /vendor/lib/modules/mmi_charger.ko
    insmod /vendor/lib/modules/adapter_class.ko
    insmod /vendor/lib/modules/mmi_discrete_charger_class.ko
    insmod /vendor/lib/modules/mmi_discrete_charger.ko
    insmod /vendor/lib/modules/sgm4154x_charger.ko
    insmod /vendor/lib/modules/bq2589x_charger.ko
    insmod /vendor/lib/modules/tcpc_class.ko
    insmod /vendor/lib/modules/tcpc_sgm7220.ko

on boot
    # Change ownership for capsensor
    chown system system /sys/class/capsense/reset
    chown system system /sys/class/capsense/int_state

service capsense_reset /system/vendor/bin/capsense_reset
    class core
    user system
    group system input
    disabled

on property:sys.boot_completed=1
    start capsense_reset

service vendor.mmi-laser-sh /vendor/bin/init.mmi.laser.sh
    class core
    user root
    oneshot

on property:sys.boot_completed=1
    write /sys/devices/platform/soc/soc:mmi,charger/state_sync 1
